---
import BaseLayout from "../layouts/BaseLayout.astro";
import Counter from "../components/Counter";
import "../styles/global.scss";
import GreatPost, * as greatPost from "./great-post.md";
const posts = Object.values(import.meta.glob("./posts/*.md", { eager: true }));
---

<BaseLayout title="Main Page">
	<div class="flex flex-col justify-center items-center">
		<div class="page-content md:page-content">
			<h1 class=" font-bold mb-4">Welcome to Main Page</h1>
			<p class="mb-4">This page is fully static!</p>

			<!-- React component island -->
			<Counter client:load />

			<h1 class=" font-bold mb-4">Astro Image Example</h1>

			<div class="text-custom md:text-custom">Responsive custom text</div>

			<p class="mt-4">This image is optimized and responsive!</p>

			<!-- Responsive Grid -->
			<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
				<div class="p-4 rounded">
					<img
						src="/images/pa-create.png"
						alt="Create"
						width="100%"
					/>
				</div>
				<div class="p-4 rounded">
					<img
						src="/images/pa-animate.png"
						alt="Animate"
						width="100%"
					/>
				</div>
				<div class="p-4 rounded">
					<img
						src="/images/pa-export.png"
						alt="Export"
						width="100%"
					/>
				</div>
			</div>

			<p>{greatPost.frontmatter.title}</p>
			<p>Written by: {greatPost.frontmatter.author}</p>
			<GreatPost />

			<br />

			<h2 class=" font-bold">Post Archive:</h2>
			<ul class="list-disc pl-6 space-y-2 mt-2">
				{
					posts.map((post) => (
						<li>
							<a href={post.url}>{post.frontmatter.title}</a>
						</li>
					))
				}
			</ul>

			<hr />

			{
				posts.map((post) => {
					const PostComponent = post.default; // Astro component
					return (
						<div class="mb-8 border-b pb-4">
							<h2 class=" font-semibold mb-2">
								{post.frontmatter.title}
							</h2>
							<p class="text-gray-600 mb-2">
								By {post.frontmatter.author}
							</p>
							<div class="prose">
								<PostComponent />{" "}
								{/* Renders actual Markdown content */}
							</div>
						</div>
					);
				})
			}
		</div>
	</div>
</BaseLayout>
